In [1]:
import pandas as pd

/tmp/ipykernel_5904/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# single car example

url = 'https://evkx.net/models/tesla/model_y/model_y_long_range/chargingcurve/'

tables = pd.read_html(url)

charge_times = 1

charge_time_table = tables[charge_times]

In [14]:
model_y_charge_str_times = charge_time_table['Time'].tolist()

In [19]:
def hms_to_seconds(hms):

    hours = 0

    split_hours = hms.split('h')
    hours_index = 0
    m_s_index = 1


    # handle case where theres no hours
    if 'h' in hms:
        hours = int(split_hours[hours_index])
    else:
        m_s_index = 0
    
    split_minutes = split_hours[m_s_index].split('m')
    minutes_index = 0
    seconds_index = 1

    minutes = int(split_minutes[minutes_index])

    split_seconds = split_minutes[seconds_index].split('s')
    seconds_index = 0

    seconds = int(split_seconds[seconds_index])

    total_seconds = 60 * 60 * hours + 60 * minutes + seconds

    return total_seconds

hms_to_seconds('1 m 1 s')

61

In [20]:
model_y_charge_seconds = [hms_to_seconds(i) for i in model_y_charge_str_times]

In [21]:
model_y_charge_seconds

[0,
 29,
 57,
 85,
 113,
 141,
 158,
 171,
 184,
 196,
 208,
 220,
 233,
 246,
 260,
 274,
 289,
 305,
 320,
 336,
 352,
 369,
 386,
 403,
 421,
 438,
 456,
 475,
 493,
 512,
 532,
 551,
 571,
 592,
 612,
 634,
 655,
 677,
 699,
 722,
 746,
 769,
 793,
 818,
 843,
 868,
 894,
 921,
 948,
 975,
 1003,
 1032,
 1061,
 1091,
 1122,
 1153,
 1185,
 1218,
 1251,
 1285,
 1321,
 1357,
 1394,
 1432,
 1471,
 1510,
 1550,
 1590,
 1630,
 1672,
 1714,
 1756,
 1799,
 1843,
 1888,
 1934,
 1980,
 2028,
 2077,
 2126,
 2175,
 2226,
 2278,
 2333,
 2391,
 2453,
 2517,
 2585,
 2655,
 2727,
 2802,
 2880,
 2961,
 3045,
 3135,
 3231,
 3336,
 3451,
 3579,
 3729,
 3922]